/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.main-container {
  width: 60%;
  height: 100%;
  background-color: burlywood;
  margin: 0 auto;
}
.main-container .navigation {
  width: 95%;
  height: 7%;
  background: grey;
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  align-content: space-between;
}
.main-container .top-container {
  height: 40%;
  background-color: beige;
  width: 95%;
  margin: 0 auto;
}
.main-container .introduction {
  height: 30%;
  background: gold;
  padding: 0.4em;
}
.main-container .introduction-body {
  height: 30%;
  background: blueviolet;
  padding: 0.4em;
}
.main-container .bottom-container {
  height: 50%;
  background-color: greenyellow;
  width: 95%;
  margin: 0 auto;
}
.main-container .bottom-container .top-bottom {
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-between;
  background: teal;
  height: 50%;
  width: 100%;
}
.main-container .bottom-container .top-bottom .listen-up {
  background: hotpink;
  width: 48%;
}
.main-container .bottom-container .top-bottom .listen-up h3 {
  background: palegreen;
  font-size: 2em;
  font-family: fantasy;
}
.main-container .bottom-container .top-bottom .listen-up p {
  padding: 0.8em;
}
.main-container .bottom-container .top-bottom .super-powers {
  background: khaki;
  width: 48%;
}
.main-container .bottom-container .top-bottom .super-powers h3 {
  background: seagreen;
  font-size: 2em;
  font-family: fantasy;
}
.main-container .bottom-container .top-bottom .lower-bottom {
  background: firebrick;
  height: 50%;
  width: 100%;
}
.lower-bottom table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 80%;
}
td,
th {
  border: 0.5em solid #dddddd;
  text-align: left;
  padding: 0.2em;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.lower-bottom h4 {
  background: palegreen;
  font-size: 1.2em;
  font-family: fantasy;
  padding: 0.4em;
}
.introduction h1 {
  background: palegreen;
  font-size: 2em;
  font-family: fantasy;
  padding: 0.4em;
}
.introduction p {
  background: palegreen;
  font-size: 1em;
  padding: 0.9em;
}
.introduction-body p {
  background: palegreen;
  font-size: 1em;
  padding: 0.9em;
}
.introduction-body button {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 1em;
  margin: 0.5em;
  background: gainsboro;
}
.top-container .selfie {
  margin: 0 auto;
  background: goldenrod;
  width: 50%;
}
footer {
  margin: 0 auto;
  background: blue;
  align-items: center;
  width: 20%;
}
.navigation a {
  background: forestgreen;
  text-decoration: none;
  font-size: 0.9em;
  font-family: fantasy;
  padding-left: 0.7em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0em;
}
